*{
	margin: 0;
}
h1{
	text-align: center;
	margin-bottom: 50px;
	margin-top: 40px;
}

.wrapper{
	width:100%;
	max-width: 960px;
	margin: 0 auto;
	font-family: Avene;
}
.team{
	display: inline-flex;
	justify-content: space-between;
}
.a{
	height: 450px;
	min-width: 200px;
	font-size: 70px;
	margin: 10px;
}
.member{
	margin:60px;
}
.about{
	text-align: center;
	font-size: 20px;
}
.follow{
	margin:40px 40px;
}
.map{
	margin: 20px 0; 
}
@font-face{
	font-family:Avene;
	src :  url('Avene.otf');
}